@font-face{
font-family: pfd;
src: url('Fonts/PlayfairDisplay-BoldItalic.ttf');
font-weight: bold;
}
head {
    margin: 20;
}
h3{
    font-family: pfd
}
p{
    font-family: 'Helvetica';
}
body {
    margin: 20;
}