{% extends 'base.html' %}

{% block head %}
<title>Shows</title>
{% endblock %}
{% block body %}
<h2>Airing Now
</h2>
<div class="container">
  <div class="row">
    {% for movie in movies %}
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/static/{{movie.image_src}}" alt="Card image cap" height="450">
          <div class="card-body">
            <h5 class="card-title">{{movie.name}}</h5>
            <p class="card-text">{{movie.tags}}</p>
            <p class="card-text">{{movie.rating}}/10</p>
            <p class="card-text">{{movie.language}}</p>
            <a href="#" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}