{% extends 'base.html' %}

{% block head %}
<title>Bookings</title>
{% endblock %}

{% block body %}

<main class="bookings">
    <div class="container">
        {% for key in bookings %}
            <div class="card" style="max-width: 18rem;">
                <img src="/static/{{bookings[key]['image_src']}}" class="card-img-top" height="225" >
                <div class="card-body">
                <h5 class="card-title">{{bookings[key]["movie_name"]}}</h5>
                <p class="card-text">Seats:
                    {% for seat in bookings[key]["seats"] %}
                        <strong> {{seat}} </strong>,
                    {% endfor %}
                </p>
                <p class="card-text">Venue: <strong>{{bookings[key]["venue_name"]}}</strong></p>
                <p class="card-text">Location: <strong>{{bookings[key]["venue_location"]}}</strong></p>
                <p class="card-text">Timings: <strong>{{bookings[key]["timings"]}}</strong></p>
                <p class="card-text">QRCode: </p>
                    <img src="/static/qr/show_{{key}}.svg" alt="" />
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
</main>
{% endblock %}